@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/main.jpg) no-repeat center bottom;
  background-size: cover;
  padding-top: 260px;
  text-align: center;
  >h1 {
    font-family: 'Cookie', cursive;
    font-size: 120px;
    color: #1d4709;
    margin-bottom: 10px;
  }
  >p {
    font-size: 24px;
    letter-spacing: .1em;
  }
}

.gnav {
  width: 100%;
  height: auto;
  position: fixed;
  height: 100px;
  top: 0;
  right: 0;
  >ul {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    >li{
      height: 60px;
      margin-bottom: 10px;
      >a {
        display: block;
        padding: 0 30px;
        text-align: center;
        line-height: 80px;
        font-size: 32px;
        font-family: 'Cookie', cursive;
        color: #1d4709;
        &:hover {
          background-image: linear-gradient(#fff9 0%, #fff9 60%, #bafb8099 60%, #bafb8099 100%);
        }
      }
    }
  }
}